<section class="container">
  <h2>イベントバインディング</h2>
  <div>
    <h3>時刻表示</h3>
    <input type="button" name="" value="現在時刻表示" (click)="showCurrentTime($event)">
    <time>{{currrentTime}}</time>
  </div>
  <div>
    <h3>マウスオンイベント</h3>
    <div class="mouse-event" (mousemove)="showMouseonEvent($event)">
      <p>screen: {{screenX}}×{{screenY}}</p>
    </div>
  </div>
</section>
<section class="container">
  <h2>双方向バインディング</h2>
  <div>
    <h3>名前表示</h3>
    <form>
      <label for="name">名前；</label>
      <input id="name" name="name" type="text" [(ngModel)]="myName">
      <div *ngIf="myName">こんにちは、{{myName}}さん</div>
    </form>
  </div>
</section>
