<header>
  <mat-toolbar color="primary">
    <span>Demo App</span>
    <span class="spacer"></span>
    <mat-icon>home</mat-icon>
  </mat-toolbar>
</header>
<!--
<table>
  <tr>
    <th>ISBNコード</th>
    <th>署名</th>
    <th>価格</th>
    <th>出版社</th>
  </tr>
  <tr *ngFor="let book of books">
    <td>{{book.isbn}}</td>
    <td>{{book.title}}</td>
    <td>{{book.price}}</td>
    <td>{{book.publisher}}</td>
  </tr>
</table>

<mat-list role="list">
  <app-use>/</app-use>
  <app-use>/</app-use>
  <app-use>/</app-use>
</mat-list>

<mat-list>
  <img matListAvatar [src]="image" alt="">
  <h3 matLine>{{from}}</h3>
</mat-list>

<button (click)="showEvent($event)">現在時刻</button>
<p>{{msg}}</p> -->

<router-outlet></router-outlet>


<!-- <app-book></app-book> -->
