<form #myForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="item">
  <div>
    <label for="isbn">ISBN: </label><br>
    <span id="isbn">{{item.isbn}}</span>
  </div>
  <div>
    <label for="title">タイトル:</label>
    <input id="title" name="title"" type="text" [(ngModel)]="item.title">
  </div>
  <div>
    <label for="price">価格:</label>
    <input id="price" name="price"" type="number" [(ngModel)]="item.price">
  </div>
  <div>
    <label for="publisher">出版社:</label>
    <input id="publisher" name="publisher"" type="text" [(ngModel)]="item.publisher">
  </div>
  <div>
    <input type="submit" value="編集">
  </div>
</form>
